@charset "euc-jp";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-- ベース --*/

::-webkit-scrollbar {
  appearance: none;
  display: none;
  width: 0 !important;
  height: 0 !important;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
  background: #fff;
  color: #333;
  font-size: 1.2rem;
  font-family: 'Helvetica Neue', Helvetica, Roboto, 'Droid Sans', arial, sans-serif;
  line-height: 1.5;
}

body * {
  -webkit-appearance: none;
  -webkit-overflow-scrolling: touch;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-break: break-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #0000ff;
  text-decoration: none;
}

h3,
h4 {
  margin-top: 15px;
  margin-bottom: 6px;
}

h5 {
  margin-top: 15px;
  margin-bottom: 4px;
}

p {
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  border:none;
  border-spacing: 0;
}

.main > section {
  margin-top: 15px;
  border-top: 1px solid #d3d3d3;
}

.table {
  display: table;
  width: 100%;
}

.table > * {
  display: table-cell;
  vertical-align: middle;
}

.table > *.right {
  text-align: right;
}

[class*="button0"],
[class*="button0"]:link,
[class*="button0"]:visited,
[class*="button0"]:hover,
[class*="button0"]:visited,
[class*="tab0"] a,
[class*="tab0"] a:link,
[class*="tab0"] a:visited,
[class*="tab0"] a:hover,
[class*="tab0"] a:active,
[class*="-list0"] a,
[class*="-list0"] a:link,
[class*="-list0"] a:visited,
[class*="-list0"] a:hover,
[class*="-list0"] a:active {
  color: #333;
}

/* スプライト画像 */
.box-check label:before,
[class*="list-logo0"],
[class*="icon-service"],
[class*="route-icon"],
[class*="icon-"]:before,
[class*="logo0"] {
  display: inline-block;
  content: "";
  background: url(../img/sp-sprite01.png?20161205) no-repeat;
  background-size: 300px auto;
  }

[class*="icon-service"] {
  display: block;
  width: 30px;
  height: 30px;
  }

  [class*="icon-service"] {
  background: url(../img/sp-sprite02.png?20161207) no-repeat;
  background-size: 300px auto;
  }

  [class*="icon-service"]:before {
  width: 15px;
  height: 15px;
  background: url(../img/sp-sprite02.png?20161207) no-repeat;
  background-size: 150px auto;
  }

.heading-main01,
[class*="logo0"] {
display: block;
}

[class*="route-icon"]:before {
  display: none;
}

[class*="list-logo0"],
[class*="route-icon"],
[class*="icon-service"],
[class*="logo0"] {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* header */

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background: #cc0000;
    z-index: 100;
}

.main {
  width: 100%;
  padding: 45px 0 0 0;
}

.logo01,
.page-header strong {
  display: block;
  width: 167px;
  height: 26px;
}

.english .page-header strong {
  width: 171px;
  height: 19px;
}

.logo03 {
  width: 171px;
  height: 19px;
  background-position: -129px -30px;
}

.header-left {
  left: 10px;
}

.header-right {
  right: 10px;
}

.button-layout02,
body > .box,
.main > section,
footer > *,
[class*="more-link"],
[class*="arrow-list"] > li > a,
.main > p,
.main > h2,
.main > div {
  padding-right: 10px;
  padding-left: 10px;
}

#pagetop {
  display: block;
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

/* button */

[class*="button0"] {
  display: inline-block;
  height: 30px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
}

.button01 {
  background-color: #fafafa;
}

.page-header .button01 {
  display: table;
  line-height: 1.1;
}

.page-header .button01 span {
  display: table-cell;
  height: 30px;
  vertical-align: middle;
}

.button02 {
  height: 35px;
  border: 1px solid #cc0000;
  font-weight: bold;
  line-height: 35px;
}

.button02,
.button02:link,
.button02:visited,
.button02:hover {
  color: #cc0000;
}

.btn-center,
ul[class*="-list0"] + .button02 {
  display: block;
  margin: 20px 0;
  padding-right: 10px;
  padding-left: 10px;
}

.btn-center,
ul[class*="-list0"] + icon-pc {
  padding: 20px 10px;
  margin: 0;
}

ul[class*="-list0"] + .button02 {
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 0;
  padding-left: 0;
}

.button03,
.button03:link,
.button03:visited,
.button03:hover {
  background-color: #cc0000;
  color: #fff;
}

[class*="heading-main"] .button03 {
  font-weight: normal;
}

[class*="heading-main"] + p {
  font-size: 1.5rem;
}

/* footer */

footer {
  display: block;
  border-top: 1px solid #d3d3d3;
}

nav.arrow-list01 + footer {
  border-top: none;
}

footer .footer-logo,
footer small {
  display: block;
  height: 45px;
  line-height: 45px;
  text-align: center;
}

footer small2 {
  display: block;
  height: 45px;
  line-height: 45px;
  text-align: center;
}

footer .footer-logo {
  position: relative;
  background-color: #cc0000;
}

footer small {
  border-top: 1px solid #d3d3d3;
}

.logo02 {
  width: 125px;
  height: 19px;
  background-position: 0 -30px;
}

.logo02e {
  width: 127px;
  height: 14px;
  background-position: 0 -170px;
}

/* main */

.main > *:last-child {
  margin-bottom: 20px;
}

.main > [class*="accordion-list01"]:last-child,
.main > [class*="more-link"]:last-child {
  margin-bottom: 0;
}

.box {
  border-bottom: 1px solid #ddd;
}

body > .box > *:last-child{
  margin-bottom: 12px;
}

/* more-link */
[class*="more-link0"] {
  display: block;
  height: 43px;
  line-height: 43px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.more-link01 {
  margin-bottom: -21px;
}

.more-link01-txt {
  color: #0000ff;
}

/* 見出し */
[class*="heading-main0"] {
  padding: 9px 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.main > [class*="heading-main0"] {
  margin-bottom: 15px;
  background-color: #e5e5e5;
}

.heading-main01 > [class*="icon-heading"],
.heading-main01 {
  position: relative;
  padding-left: 41px;
}

.heading-main-ttl02 {
  position: static;
  padding: 0;
}

[class*="icon-heading"]:before {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 26px;
  height: 26px;
}

.icon-heading02:before {
  background-position: -175px 0;
}

.icon-heading03:before {
  background-position: -205px 0;
}

.heading-main01 > [class*="icon-heading"] > span,
[class*="heading-main0"] span {
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
}

.heading-main01 > [class*="icon-heading"] {
  padding: 9px 10px 9px 41px;
  font-size: 1.5rem;
  font-weight: bold;
}

.heading-main01 > [class*="icon-heading"] + [class*="icon-heading"] {
  padding-top: 0;
}

.heading-main01 > [class*="icon-heading"] + [class*="icon-heading"]:before {
  top: 0;
}

.main > .heading-main02 {
  padding-right: 0;
  padding-left: 0;
}

.heading-main02 {
  padding: 0;
  font-size: 1.8rem;
}

.heading-main02 > * {
  padding: 9px 0;
}

.heading-main02 > *:first-child {
  padding-right: 5px;
  padding-left: 10px;
}

.heading-main02 > .right {
  padding-right: 10px;
  padding-left: 5px;
}

.heading02 {
  margin-top: 12px;
  margin-bottom: 8px;
  color: #cc0000;
  font-size: 1.5rem;
  font-weight: bold;
}

.heading02 span {
  font-size: 1.2rem;
  font-weight: normal;
}

.heading03 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 6px 7px;
  color: #fff;
  font-weight: bold;
}

h2.heading03 {
  margin-top: 15px;
}

.heading03[class*="bg-gray0"] {
  color: #333;
}

.heading04 {
  margin-top: 12px;
  margin-bottom: 8px;
  color: #cc0000;
  font-size: 1.5rem;
  font-weight: bold;
}

.heading05 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

/* pagescroll */
.pagescroll {
  position: fixed;
  right: 0;
  bottom: 40px;
  z-index: 10000;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* ページ内リンク */
.inlinkpoint {
  display: block;
  width: 1px;
  height: 1px;
  position: absolute;
  top: -40px;
  left: 0;
}

/* 強制上書き */
/* レイアウト */

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}

/* テキスト */
.strong {
  font-weight: bold;
}

.orange01 {
  color: #ff6600!important;
}

.red01 {
  color: #cc0000!important;
}

.red01b {
  letter-spacing: -0.2em;
}

.green01 {
  color: #009900!important;
}

.blue01 {
  color: #0000ff!important;
}

.topTxtE {
  font-size: 1.5rem;
  margin-left: 38px;
}

.f12 {
  font-size: 1.2rem;
}

/* 背景色 */

.bg-orange01 {
  background-color: #ff6600;
}

.bg-red01 {
  background-color: #cc0000;
}

.bg-green01 {
  background-color: #009900;
}

.bg-blue01 {
  background-color: #0000ff;
}

.bg-gray01 {
  background-color: #e5e5e5;
}

/* ボーダー */

.bt00 {
  border-top: none!important;
}

.bt01 {
  border-top: 1px solid #d3d3d3!important;
}

.bb00 {
  border-bottom: none!important;
}

.bb01 {
  border-bottom: 1px solid #d3d3d3!important;
}

/* 幅 */
.w100p {
  width: 100%!important;
}

.w99p {
  width: 99%!important;
}

.w4em th,
.w4em > dt {
  width: 3.7em!important;
}

.w4em > dd {
  padding-left: 3.7em!important;
}

.w5em th,
.w5em > dt {
  width: 5em!important;
}

.w5em > dd {
  padding-left: 5em!important;
}

.w6em th,
.w6em > dt {
  width: 6em!important;
}

.w6em > dd {
  padding-left: 6em!important;
}

.w7em th,
.w7em > dt {
  width: 7em!important;
}

.w7em > dd {
  padding-left: 7em!important;
}

.w8em th,
.w8em > dt {
  width: 8em!important;
}

.w8em > dd {
  padding-left: 8em!important;
}

.w9em th,
.w9em > dt {
  width: 9em!important;
}

.w9em > dd {
  padding-left: 9em!important;
}

.w10em th,
.w10em > dt {
  width: 10em!important;
}

.w10em > dd {
  padding-left: 10em!important;
}

.w11em th,
.w11em > dt {
  width: 11em!important;
}

.w11em > dd {
  padding-left: 11em!important;
}

.w11em th,
.w12em > dt {
  width: 12em!important;
}

.w12em > dd {
  padding-left: 12em!important;
}

.w13em th,
.w13em > dt {
  width: 13em!important;
}

.w13em > dd {
  padding-left: 13em!important;
}

/* margin */

.mt00 {
  margin-top: 0px!important;
}

.mt5 {
  margin-top: 5px!important;
}

.mt10 {
  margin-top: 10px!important;
}

.mt15 {
  margin-top: 15px!important;
}

.mt20 {
  margin-top: 20px!important;
}

.mb00 {
  margin-bottom: 0px!important;
}

.mb10 {
  margin-bottom: 10px!important;
}

.mb15 {
  margin-bottom: 15px!important;
}

.mb20 {
  margin-bottom: 20px!important;
}

.mrl10 {
  margin-right: 10px!important;
  margin-left: 10px!important;
}

.pa00 {
  padding: 0!important;
}

/* 天地左右中央よせ */
.logo02,
.logo02e,
.page-header strong {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

/* 縦中央よせ */
.button02.icon-route:before,
.header-right,
.header-left {
  content: "";
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}