@charset "euc-jp";
/* CSS Document */
/* カスタマイズ用のCSS定義をここに記述してください */

.map-mylocation {
    position: absolute;
    top: 120px;
    right: 9px;
    z-index: 1;
}

.map-mylocation > img {
    width: 40px;
}

ul.accordion-list02 li.acdn-content {
    margin-bottom: 0px;
}

ul.accordion-list02 ul {
    display: none;
}

li.acdn-content > p {
    font-size: 1.5rem;
    margin: 10px;
}

#cust_map_cond_text {
    position:absolute;
    top:51px;
    left:6px;
    padding: 8px 8px;
    width: auto;
    color: #ffffff;
    background-color: #000000;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    z-index:9999;
    text-align: left;
}

.cust_errortitle {
	font-size: 1.7rem;
	font-weight: bold;
}
.cust_errorview {
	line-height: 180%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0 10px;
	font-size: 1.5rem;
}

#ZdcEmapNotFound {
    display: none;
    position: absolute;
    width: 260px;
    height: 60px;
    font-size: 12px;
    text-align: center;
    background-color: #fff;
    padding: 2px;
    border: solid 1px #000;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    z-index: 1;
}
