@charset "euc-jp";
/*--------------------------------------------------
e-map standard 制御コード
--------------------------------------------------*/
/* 地図上のコントロールを消去 */

/* （メイン画面）地図閲覧規約リンクを消去 */
#mapRuleLink {display:none;}

/* （印刷画面）印刷ボタンを消去 */
#topMargin {display:none;}
#buttonPrint {display:none;}
